absl-py
aiohttp
aiosignal
annotated-types
anyio
appdirs==1.4.4
appnope
asttokens
astunparse==1.6.3
attrs
azure-core
blis==0.7.11
Bottleneck
Brotli
cached-property
catalogue==2.0.10
certifi
charset-normalizer
click
cloudpathlib==0.18.1
cmudict
comm
confection==0.1.5
contourpy==1.3.0
cycler==0.12.1
cymem==2.0.8
dataclasses-json==0.6.7
datasets
debugpy
decorator
deepeval==0.21.74
Deprecated==1.2.14
dill
distro
docx2txt==0.8
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl
exceptiongroup
execnet==2.1.1
executing
filelock
flatbuffers
fonttools==4.54.1
frozenlist
fsspec
gast
gensim==4.3.3
google-pasta
googleapis-common-protos==1.63.2
grpcio==1.63.0
h11
h5py
httpcore
httpx
huggingface_hub
idna
importlib-metadata==7.0.0
importlib_resources
iniconfig==2.0.0
ipykernel
ipython
jedi
Jinja2
joblib
jsonpatch==1.33
jsonpointer==3.0.0
jupyter_client
jupyter_core
keras
kiwisolver==1.4.7
langchain==0.2.12
langchain-community==0.2.11
langchain-core==0.2.28
langchain-openai==0.1.20
langchain-text-splitters==0.2.2
langcodes==3.4.0
langsmith==0.1.96
language_data==1.2.0
lexicalrichness==0.5.1
libclang==18.1.1
marisa-trie==1.2.0
Markdown
markdown-it-py
MarkupSafe
marshmallow==3.21.3
matplotlib==3.9.2
matplotlib-inline
mdurl
ml_dtypes
mpmath
multidict
multiprocess
murmurhash==1.0.10
mypy-extensions==1.0.0
namex
nest_asyncio
networkx
nltk
numexpr
numpy
openai
opentelemetry-api==1.24.0
opentelemetry-exporter-otlp-proto-common==1.24.0
opentelemetry-exporter-otlp-proto-grpc==1.24.0
opentelemetry-proto==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-semantic-conventions==0.45b0
opt-einsum
optree
orjson==3.10.6
packaging
pandas
parso
pexpect
pickleshare
pillow==10.4.0
platformdirs
pluggy==1.5.0
portalocker==2.10.1
preshed==3.0.9
prompt_toolkit
protobuf==4.25.1
psutil
psycopg2
ptyprocess
pure_eval
pyarrow==17.0.0
pydantic==2.8.2
pydantic_core==2.20.1
Pygments
pyparsing==3.2.0
pyphen==0.17.2
pysbd==0.3.4
PySocks
pytest==8.3.2
pytest-repeat==0.9.3
pytest-xdist==3.6.1
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
ragas==0.1.12
regex
requests
rich
rouge
safetensors
scipy==1.13.1
sentencepiece
